<div class="list-groups">
  {% for item in data[1] %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <td class="list-group-category-icon">
              {% if item.icon %}
                <i class="{{ item.icon }}"></i>
              {% elsif data[0] == 'languages' %}
                <i class="fa-solid fa-language"></i>
              {% elsif data[0] == 'interests' %}
                <i class="fa-solid fa-heart"></i>
              {% else %}
                <i class="fa-solid fa-circle-info"></i>
              {% endif %}
            </td>

            <td class="list-group-category">
              <b>{% if item.name %}{{ item.name }}{% else %}{{ item.language }}{% endif %}</b>
            </td>
          </tr>

          <tr>
            <td></td>
            <td class="list-group-name">
              {% if item.level %}{{ item.level }}{% endif %}
              {% if item.fluency %}{{ item.fluency }}{% endif %}
              
              {% if item.school %}
                <span class="list-group-school"> · {{ item.school }}</span>
              {% endif %}

              {% if item.time %}
                <div class="list-group-time">{{ item.time }}</div>
              {% endif %}
            </td>

            {% if item.link %}
            <td class="list-group-link">
              <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">
                {% if item.linkname %}{{ item.linkname }}{% else %}DOC{% endif %}
              </a>
            </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
