---
layout: page
---
<div class="post">
  <article>
    {% if page.sections %}
      {% for section in page.sections %}
        <h2 class="profiles-section-title">{{ section.title }}</h2>
        {% for profile in section.profiles %}
          {% unless forloop.first %}<hr style="margin-top: 1rem; margin-bottom: 1rem;">{% endunless %}
          <div class="profile-card">
            <div class="profile-image {% if profile.align == 'right' %}order-last{% endif %}">
              {% if profile.image %}
                {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
                {% if profile.image_circular %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                {% else %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                {% endif %}
                {% capture sizes %}(min-width: {{ site.max_width }}) 140px, 120px{% endcapture %}
                {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
              {% endif %}
            </div>
            <div class="profile-content">
              {% if profile.more_info %}
                <div class="profile-header">{{ profile.more_info }}</div>
              {% endif %}
              {% if profile.content %}
                {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                {{ profile_content | markdownify }}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% elsif page.profiles %}
      {% for profile in page.profiles %}
        <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
        <div class="profile-card">
          <div class="profile-image {% if profile.align == 'right' %}order-last{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{ site.max_width }}) 140px, 120px{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
          </div>
          <div class="profile-content">
            {% if profile.more_info %}
              <div class="profile-header">{{ profile.more_info }}</div>
            {% endif %}
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
